<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mon Lévis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-text class="center" color="warning">
    <h1>Bienvenue dans l'application Mon Lévis !</h1>
  </ion-text>
    <ion-button expand="block" class="ion-margin">Carte de Lévis</ion-button>
    <ion-button expand="block" class="ion-margin">Lieux à visiter</ion-button>
    <ion-button expand="block" class="ion-margin">Galerie photos</ion-button>
</ion-content>
