<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lieux à visiter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list *ngIf="0 < lieux.length; else listeVide">
  <ion-item *ngFor="let lieu of lieux">
    
    <ion-card button="true">
      <ion-img [src]="'/assets/img/lieux/' + lieu.img" (ionError)="lieu.img = 'ph.jpg'"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>RECOMMANDATION</ion-card-subtitle>
        <ion-card-title>{{lieu.titre}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{lieu.description}}
      </ion-card-content>
      <ion-item>
        <ion-button class="center" fill="outline">Voir sur la carte</ion-button>
      </ion-item>
    </ion-card>
  </ion-item>
</ion-list>
<ng-template #listeVide>Pas de lieu...</ng-template>
</ion-content>
