<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galerie photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
        <ion-col *ngFor="let photo of photos"
        sizeXs="12" 
        sizeSm="6" 
        size="4" 
        sizeMd="4" 
        sizeLg="3" 
        sizeXl="2">
          <ion-img [src]="'/assets/img/galerie/' + photo.img" (ionError)="photo.img = 'ph.jpg'"></ion-img>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="top" horizontal="left" slot="fixed">
    <ion-fab-button size="small">+</ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
