<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lieux à visiter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- RECHERCHE -->
    <ion-grid>
      <ion-row>
        <ion-col class="col-10">
          Recherchez un lieu:
          <input 
          class="searchbar"
          [(ngModel)]="placesSearch" 
          type="text" 
          list="places" 
          (ngModelChange)="updateSearch($event)"
          />
          <datalist id="places">
            <option *ngFor="let place of places" [value]="place.title">{{place.title}}</option>
          </datalist>
          <ion-button expand="full" (click)="onSubmitPlace()">Enregistrer</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

<!-- Liste des lieux -->
  <ion-list *ngIf="0 < tousLieux.length; else listeVide">
    <ion-item *ngFor="let lieu of tousLieux">
      <ion-card button="true">
        <ion-img [src]="'/assets/img/lieux/' + lieu.img" (ionError)="lieu.img = '../place-placeholder.png'"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>RECOMMANDATION</ion-card-subtitle>
          <ion-card-title>{{lieu.titre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{lieu.description}}
        </ion-card-content>
        <ion-item>
          <ion-button [routerLink]="['../carte', lieu.coords.lat, lieu.coords.lng, lieu.titre]" class="center" fill="outline">Voir sur la carte</ion-button>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
  <ng-template #listeVide>Pas de lieu...</ng-template>
</ion-content>


